h1, h2, h3, h4{
    font-family: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
}
.bg-header{
    background-color: #fff;
    background-color:#C7F7FF;
    color: #222;
    border-bottom:1rem solid #89C0C9;
    border-top:1rem solid #3a5E63;
    position: relative;

    before,
    after{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: #3a5E63;
    }
    before{
        left:0;
    }

    after{
        right:0;
    }
}
header{
    width: 400px; /* default */
    margin: 0 auto;
    position: relative;

    h1{
        width: 100%;
        padding: 0 2rem;

    nav{
        width: 100%;

    nav>ul li{
        width:100%;
        float: none;

    nav{
        padding:2rem 0;
        clear: both;

    nav>ul>li>a{
        display:block;
        text-align: center;
        text-decoration: none;
        color: #222;    
        font-size: 1.414rem;
        letter-spacing: 0.25rem;
        border:1px solid #d4d4d4; 
        border-bottom: none;
        padding:1.0rem 2rem;
        line-height: 1;
        background-color: #fff;

    nav>ul>li>a:hover{
        font-weight: 700;
        color:#7C593C;

    h1{
        color: #7C593C;
        letter-spacing: 0.1rem;

        i.fa-lg{
            display:block;
            width: 25%;
        float:left;
        font-size: 7rem;
        line-height: 12.7936rem;
        color: #C9A689;

        i.fa-lg ~ span{
            float: right;
            width: 75%;
            font-size: 3.998rem;
            padding-left: 1rem;
            text-align: right;
        }
        }
    }
    }
    }
    }
    }
    }
}
}
